@use "../../global-styles/globals.scss" as *;

.project_card {
  &__project {
    width: 100%;
    height: 100%;
    position: relative;
    margin-bottom: 380px;

    @media only screen and (min-width: 420px) {
      margin-bottom: 335px;
    }

    @media only screen and (min-width: 469px) {
      margin-bottom: 295px;
    }

    @media only screen and (min-width: 555px) {
      margin-bottom: 255px;
    }

    @media only screen and (min-width: 680px) {
      margin-bottom: 225px;
    }

    @include tabletp {
      margin-bottom: 160px;
    }

    @include tabletl {
      position: static;
      margin-bottom: 0px;
      margin-top: 60px;
    }

    &__title {
      display: flex;
      position: relative;
      z-index: 10;
      align-items: center;
      justify-content: flex-start;
      flex-direction: row;
      border-bottom: 1px solid $darkaqua;
      margin-bottom: 16px;
      padding-top: 8px;

      &__number {
        font-size: 24px;
        font-family: "Garamond Thin";
        color: $aqua;
        border-right: 1px solid $darkaqua;
        padding-right: 8px;

        @include tabletp {
          font-size: 26px;
        }

        @include desktop {
          font-size: 28px;
        }
      }

      &__text {
        padding-left: 8px;

        &__anchor {
          color: $aqua;
          text-decoration: none;

          &__external_link {
            padding-left: 8px;
            padding-right: 0;
          }

          &__external_link_reverse {
            padding-left: 0;
            padding-right: 8px;
          }
        }

      }
    }

    &__text {
      position: absolute;
      top: 108vw;
      z-index: 10;

      @media only screen and (min-width: 680px) {
        top: 720px;
      }

      @include tabletp {
        top: 42vw;
      }

      @include tabletl {
        position: static;
      }

      &__body {
        height: 100%;
        background-color: $darkblue;
        padding: 24px;
        margin-top: 16px;
        line-height: normal;

        filter: drop-shadow(5px 6px 6px $darkblue);

        @include tabletl {
          position: relative;
          z-index: 10;
          margin-top: 0;
          height: 188px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        @include desktop {
          display: block;
          height: 100%;
          padding: 24px;
        }
      }

      &__tech {
        position: relative;
        z-index: 10;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        grid-gap: 4px;
        color: $white;
        margin-top: 16px;
        padding-top: 8px;
        border-top: 1px solid $grey;

        @include tabletp {
          grid-template-columns: repeat(8, 1fr);
        }

        @include tabletl {
          border-top: 1px solid lightgrey;
        }

        &__item {
          font-family: "Garamond Regular";
          font-size: 14px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: $lightgrey;

          @include tabletl {
            color: $white;
            font-family: "Garamond SemiBold";
          }

          @include desktop {
            font-size: 16px;
          }
        }
      }
    }

    &__image {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 140px;
      position: relative;

      @include tabletp {
        display: block;
      }

      &__img {
        width: 100%;
        height: 100%;
        margin-top: 0;
        max-height: 650px;
        max-width: 650px;

        @include tabletp {
          width: 100%;
          max-width: 100%;
          height: 100%;
          max-height: 100%;
        }

        @include tabletl {
          position: relative;
          filter: sepia(70%) hue-rotate(160deg) drop-shadow(5px 6px 6px #03071B) contrast(0.8) opacity(0.8) brightness(0.5);
          max-height: 406px;
          transition: transform 1.5s cubic-bezier(.25, .95, .09, .9);
        }

        @include desktop {
          max-height: 100%;
        }
      }

      &__img_hover {
        position: relative;
        z-index: 250;
        filter: none;
        filter: brightness(0.8);
        transform: scale(1.0125);
      }
    }
  }
}