// Fonts - Elianto
@font-face {
  font-family: "Elianto";
  src: local("Elianto-Regular"),
    url("../assets/fonts/Elianto-Regular.ttf") format("truetype");
}

// Fonts - Cormorant Garamond
@font-face {
  font-family: "Garamond Light";
  src: local("CormorantGaramond-Light"),
    url("../assets/fonts/Cormorant_Garamond/CormorantGaramond-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Garamond Regular";
  src: local("CormorantGaramond-Regular"),
    url("../assets/fonts/Cormorant_Garamond/CormorantGaramond-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Garamond Medium";
  src: local("CormorantGaramond-Medium"),
    url("../assets/fonts/Cormorant_Garamond/CormorantGaramond-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Garamond SemiBold";
  src: local("CormorantGaramond-SemiBold"),
    url("../assets/fonts/Cormorant_Garamond/CormorantGaramond-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Garamond Bold";
  src: local("CormorantGaramond-Bold"),
    url("../assets/fonts/Cormorant_Garamond/CormorantGaramond-Bold.ttf") format("truetype");
}
