// Fonts -VT323
// @font-face {
//   font-family: "VT323";
//   src: local("VT323-Regular"),
//     url("../fonts/VT323-Regular.ttf") format("truetype");
// }

// Fonts - Cormorant Garamond
@font-face {
  font-family: "Garamond Light";
  src: local("CormorantGaramond-Light"),
    url("../fonts/Cormorant_Garamond/CormorantGaramond-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Garamond Regular";
  src: local("CormorantGaramond-Regular"),
    url("../fonts/Cormorant_Garamond/CormorantGaramond-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Garamond Medium";
  src: local("CormorantGaramond-Medium"),
    url("../fonts/Cormorant_Garamond/CormorantGaramond-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Garamond SemiBold";
  src: local("CormorantGaramond-SemiBold"),
    url("../fonts/Cormorant_Garamond/CormorantGaramond-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Garamond Bold";
  src: local("CormorantGaramond-Bold"),
    url("../fonts/Cormorant_Garamond/CormorantGaramond-Bold.ttf") format("truetype");
}

// Fonts - Proxima Nova
@font-face {
  font-family: "ProximaNova Thin";
  src: local("Proxima Nova Thin"),
    url("../fonts/Proxima_Nova/Proxima\ Nova\ Thin.otf") format("opentype");
}

@font-face {
  font-family: "ProximaNova Regular";
  src: local("ProximaNova-Regular"),
    url("../fonts/Proxima_Nova/ProximaNova-Regular.otf") format("opentype");
}

@font-face {
  font-family: "ProximaNova Bold";
  src: local("Proxima Nova Bold"),
    url("../fonts/Proxima_Nova/Proxima\ Nova\ Bold.otf") format("opentype");
}

@font-face {
  font-family: "ProximaNova Extrabold";
  src: local("Proxima Nova Extrabold"),
    url("../fonts/Proxima_Nova/Proxima\ Nova\ Extrabold.otf") format("opentype");
}

@font-face {
  font-family: "ProximaNova Black";
  src: local("Proxima Nova Black"),
    url("../fonts/Proxima_Nova/Proxima\ Nova\ Black.otf") format("opentype");
}