// Fonts - Elianto
@font-face {
  font-family: "Elianto";
  src: local("Elianto-Regular"),
    url("../assets/fonts/Elianto-Regular.ttf") format("truetype");
}

// Fonts - Manrope
@font-face {
  font-family: "Manrope Light";
  src: local("Manrope-Light"),
    url("../assets/fonts/Manrope/Manrope-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Manrope Regular";
  src: local("Manrope-Regular"),
    url("../assets/fonts/Manrope/Manrope-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Manrope Medium";
  src: local("Manrope-Medium"),
    url("../assets/fonts/Manrope/Manrope-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Manrope SemiBold";
  src: local("Manrope-SemiBold"),
    url("../assets/fonts/Manrope/Manrope-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Manrope Bold";
  src: local("Manrope-Bold"),
    url("../assets/fonts/Manrope/Manrope-Bold.ttf") format("truetype");
}
