// @forward will import media-queries.scss and fonts.scss inside globals.scss so we only need to @use globals.scss in the other 
// files and media-queries.scss, fonts, etc will be also be imported as well
@forward "./media-queries.scss";
@forward "./fonts.scss";
@use "media-queries" as *;

/* These are the global css variables */
// Colors
$white: #ffffff; // to use these variables in other scss files just @use index.scss as g in those files and use g.$white 
$black: #000000;
$grey: #484848;
$lightgrey: #F5F5F5;
$blue: #151A36;
$darkblue: #03071B;
$lightblue: #0A0E24;
$aqua: #00FFFF;
$darkaqua: #008080;
$lightaqua: #31FFFF;
$red: #e0287d;

// Layout spacing
$navbar_height: 88px;

// These are the Material UI breakpoints and theme variables
$containerBreakpointMaxWidth: 1320px; // after this breakpoint value, the container is not fluid and is fixed to this max-width value
$rowGutters: 2px; //4px for padding-top, 4px for padding-bottom
$columnGuttersDownMd: 16px; //column gutters for the grid - 8px for padding-left, 8px for padding-right
$columnGuttersUpMd: 24px;
$marginsContainerXs: 16px; //container margins for the grid - 8px for margin-right, 8px for margin-left
$marginsContainerSm: 24px;
$marginsContainerMd: 32px;

// Reset styles
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

// Heading styles
h1 {
  font-size: 45px;
  font-family: "Manrope Bold";
  color: $aqua;
  line-height: 1;

  @media only screen and (min-width: 360px) {
    font-size: 50px;
  }

  @media only screen and (min-width: 414px) {
    font-size: 60px;
  }

  @include tabletp {
    font-size: 60px;
    // line-height: 0.7;
    line-height: 1;
  }

  @include tabletl {
    font-size: 80px;
    line-height: 1;
  }

  @include desktop {
    font-size: 90px;
  }
}

h2 {
  font-size: 28px;
  font-family: 'Manrope Bold';
  color: $aqua;

  @media only screen and (min-width: 360px) {
    font-size: 32px;
  }

  @media only screen and (min-width: 414px) {
    font-size: 36px;
  }

  @include tabletp {
    // font-size: 40px;
    font-size: 36px;
  }

  @include tabletl {
    font-size: 42px;
  }
}

h3 {
  font-size: 22px;
  font-family: 'Manrope Medium';
  color: $aqua;

  @include tabletp {
    font-size: 24px;
  }

  @include desktop {
    font-size: 26px;
  }
}

p {
  // font-size: 18px;
  font-size: 16px;
  font-family: 'Manrope Regular';
  color: $lightgrey;
  line-height: 1.3;
  // line-height: 1;

  @include tabletl {
    font-size: 16px;
    // line-height: 1.25;
    line-height: normal;
    // line-height: 1;
  }

  @include desktop {
    font-size: 16px;
    // font-size: 18px;
    line-height: normal;
    // line-height: 1;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;

  // Custom scrollbar style for most of the browsers except Firefox
  ::-webkit-scrollbar-button {
    background-color: $blue;
    height: 3px;
  }

  ::-webkit-scrollbar {
    width: 7px;
  }

  ::-webkit-scrollbar-track {
    background-color: $blue;
  }

  ::-webkit-scrollbar-thumb {
    background: $grey;
    border-radius: 10px;
    -webkit-border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: $darkaqua;
  }

  ::-webkit-scrollbar-thumb:active {
    background: $aqua;
  }

  // Firefox compatibility for custom scrollbar
  scrollbar-face-color: $grey;
  /* Firefox 63 compatibility */
  scrollbar-track-color: $blue;
  /* Firefox 63 compatibility */
  scrollbar-color: $grey $blue;
  scrollbar-width: thin;
}

/* Accessibility - change color of focus rectangle */
:focus {
  outline: 2px solid $aqua;
  outline-offset: 2px;
}

#root {
  height: 100%;
}

body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  background-color: $blue !important;
}

// This is used to export the scss variables into javascript files
:export {
  // blue: $blue;
  // aqua: $aqua;
  // darkaqua: $darkaqua;
  containerBreakpointMaxWidth: $containerBreakpointMaxWidth;
  rowGutters: $rowGutters;
  columnGuttersDownMd: $columnGuttersDownMd;
  columnGuttersUpMd: $columnGuttersUpMd;
  marginsContainerXs: $marginsContainerXs;
  marginsContainerSm: $marginsContainerSm;
  marginsContainerMd: $marginsContainerMd;
}