@use "../../global-styles/globals.scss" as *;

.contact_section {
  width: 100%;
  margin-top: 90px;
  margin-bottom: 0;

  @include tabletl {
    margin-top: 35px;
    margin-bottom: 80px;
  }

  @include desktop {
    margin-bottom: 140px;
    margin-top: 85px;
  }

  &__title {
    text-align: center;
    border-bottom: 3px solid $darkaqua;
    margin-bottom: 12px;
  }

  &__subtitle {
    position: relative;
    z-index: 10;
    margin-bottom: 32px;
    font-size: 16px;
    text-align: center;
    font-family: "Manrope Regular";

    @include tabletl {
      margin-bottom: 40px;
    }

    &__contact {
      color: $aqua;
      font-size: 16px;
      font-family: "Manrope SemiBold";
    }
  }

  &__buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
  }
}