@use "../global-styles/globals.scss" as *;

.home_section {
  height: calc(100vh - $navbar_height);
  min-height: calc(100vh - $navbar_height);
  background-color: green;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}