@use "../../global-styles/globals.scss" as *;

.hamburger_navbar_icon {
  svg {
    height: 50px;
    width: 50px;
    position: fixed;
    top: 24px;
    right: $marginsContainerXs;
    z-index: 300;

    @include tabletp {
      right: $marginsContainerSm;
    }
  }

  .lines {
    height: 0;
    max-height: 0;

    .line {
      fill: none;
      stroke: $blue;
      stroke-width: 6px;
      stroke-linecap: round;
      stroke-linejoin: round;
      transform-origin: 50%;
      transition: stroke-dasharray 500ms 200ms, stroke-dashoffset 500ms 200ms, transform 500ms 200ms;

      .burger {
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 500ms;

        &__show_top {
          top: 24px;
        }

        &__show {
          top: 24px;
        }

        &__hide {
          top: -100px;
        }
      }
    }

    .x {
      transform: scale(0);
      transition: transform 400ms;

      .line {
        stroke-width: 5.5px;
      }
    }

    .active {
      .line {
        transition: stroke-dasharray 500ms, stroke-dashoffset 500ms, transform 500ms;
      }
    }

    .active {
      .x {
        transform: scale(1);
        transition: transform 400ms 350ms;
      }
    }

    .line2 {
      .line {
        transition: stroke-dasharray 400ms 100ms, stroke-dashoffset 400ms 100ms, transform 400ms 100ms;
      }

      .line1 {
        stroke-dasharray: 21 201;
      }

      .line2 {
        stroke-dasharray: 21 201;
        transition-delay: 20ms;
      }

      .line3 {
        stroke-dasharray: 21 201;
        transition-delay: 40ms;
      }

      .line4 {
        stroke-dasharray: 21 201;
        transition-delay: 60ms;
      }

      .line5 {
        stroke-dasharray: 21 201;
        transition-delay: 80ms;
      }

      .line6 {
        stroke-dasharray: 21 201;
        transition-delay: 100ms;
      }

      .x {
        transition: transform 400ms 50ms;
      }

      &.active {
        .line {
          transition: stroke-dasharray 400ms, stroke-dashoffset 400ms, transform 400ms;
        }

        .line1 {
          stroke-dasharray: 5 201;
          stroke-dashoffset: -158px;
        }

        .line2 {
          stroke-dasharray: 5 201;
          stroke-dashoffset: -158px;
          transition-delay: 20ms;
        }

        .line3 {
          stroke-dasharray: 5 201;
          stroke-dashoffset: -158px;
          transition-delay: 40ms;
        }

        .line4 {
          stroke-dasharray: 5 201;
          stroke-dashoffset: -158px;
          transition-delay: 60ms;
        }

        .line5 {
          stroke-dasharray: 5 201;
          stroke-dashoffset: -158px;
          transition-delay: 80ms;
        }

        .line6 {
          stroke-dasharray: 5 201;
          stroke-dashoffset: -158px;
          transition-delay: 100ms;
        }
      }
    }
  }
}