@use "../../global-styles/globals.scss" as *;

.normal_navbar {
  display: none;

  @include tabletl {
    height: $navbar_height;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }

  &__icon {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__img {
      height: 100%;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;

    ul {
      list-style: none;
      display: flex;
      gap: 24px;

      li {
        display: inline;

        a {
          font-family: 'Elianto';
          font-size: 16px;
          color: $white;
          text-decoration: none;
        }

        a:hover,
        a:active {
          color: $aqua;
        }
      }
    }

    &__resume_button {
      margin-left: 24px;
    }
  }
}

.hamburger_navbar {
  height: $navbar_height;
  display: block;

  @include tabletl {
    display: none;
  }

  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 200;
    transition: width 0.3s, opacity 0.3s;

    &__ul {
      width: 100%;
      position: absolute;
      list-style: none;
      top: 55%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;

      &__link {
        display: inline-block;
        font-family: "Elianto";
        font-size: 18px;
        cursor: default;
        text-decoration: none;
        color: $blue;
        margin: 4px 0;
        cursor: pointer;

        &:hover,
        &:active {
          background-position: 100%;
          color: $blue;
        }
      }

      &__resume_button {
        margin-top: 16px;
      }
    }
  }

  &__icon {
    top: 24px;
    left: 16px;
    position: fixed;
    z-Index: 100;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;

    @include tabletp {
      left: 24px;
    }

    &__show_top {
      top: 24px;
    }

    &__show {
      top: 24px;
    }

    &__hide {
      top: -100px;
    }

    &__img {
      height: 46px;
    }
  }

  &__button_toggler {
    background-color: $aqua;
    position: fixed;
    border: 1px solid black;
    top: 16px;
    right: $marginsContainerXs;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    z-index: 100;
    box-shadow: 0 1rem 3rem rgba(0, 255, 255, 0.3);
    text-align: center;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;

    @include tabletp {
      top: 24px;
      right: $marginsContainerSm;
    }

    &__show_top {
      top: 24px;
    }

    &__show {
      top: 24px;
    }

    &__hide {
      top: -100px;
    }
  }

  &__background_toggler {
    position: fixed;
    top: 16px;
    right: $marginsContainerXs;
    background-image: radial-gradient(#00FFFF, #151A36);
    height: 45px;
    width: 45px;
    border-radius: 50%;
    transition: transform 0.6s;

    @include tabletp {
      top: 24px;
      right: $marginsContainerSm;
    }
  }
}