@use "./global-styles/globals.scss" as *;

.App {
	.btn {
		background-color: red;
		width: 100px;
		height: 100px;

		// @include mobile {
		// 	background-color: $aqua;
		// }

		@include tabletp {
			background-color: green;
		}

		@include tabletl {
			background-color: grey;
		}

		@include desktop {
			background-color: violet;
		}

	}

	// .btn2 {
	//   @include mobile {
	//     // background-color: mx.$aqua;
	//     background-color: red;
	//   }
	// }
}
